<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">NicoToff</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" id="nav-home" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-skills" href="/skills">Skills</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">
                        Projects
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Current Projects</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/helha-revision">HELHa Révision</a>
                        <a class="dropdown-item" href="#">HELHa Project 1</a>
                        <a class="dropdown-item" href="#">HELHa Project 2</a>                        
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Home-made Alarm</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-contact" href="/contact">Contact Me</a>
                </li>
            </ul>
        </div>
    </div>
</nav>