<div class="container">
    <img src="images/man-at-work.svg" style="max-width: 30%;" class="img-fluid mt-5 mx-auto d-block" />
    <h2 class="text-center m-4">Page under construction</h2>
    <p class="text-center">Come back later for more ;)</p>
</div>