<div class="container">
    <main class="row">
        <article class="col-lg">
            <h1 class="text-center mt-5 mb-3">HELHa-Révision</h1>
            <p>My first pet project in IT. I developped 
                <a href="https://helharevision.000webhostapp.com/">a static website</a> to share summaries
                with my fellow students. Despite its simplicity, it did the job! I learned a ton about HTML5 and CSS
                over the months I built this project. Today, I love using CSS libraries like
                <strong class="text-success">Bootstrap</strong>, because they allow for clean and efficient
                design without much effort.
            </p>
            <p>
                HELHa-Révision received updated until March 2021, at which point the amount of work
                for school made it impossible to continue this project. With my more recent knowledge,
                I realise I could have automated some of the uploads from <code>.docx</code> or <code>.pdf</code>
                files and save a ton of time!
            </p>
            <p> I'm still proud of the result and glad it's still 
                used by new students every year.
            </p>
            <p class="mb-3">Link: <a href="https://helharevision.000webhostapp.com/">HELHa-Révision</a></p>
        </article>
        <picture class="col-lg">            
        </iframe>
        </picture>
    </main>
</div>

<script>
    // document.querySelector("#nav-projects").classList.add("active");
</script>