<div class="container">
    <main class="row">
        <article>
            <h1 class="text-center mt-5 mb-3">Things I like</h1>
            <p class="text-center">Alongside IT, there are many other things I'm fond of.</p>
                <section class="row">
                    <h2 class="mt-5">Tabletop Roleplaying Games</h2>
                    <div class="col-lg">
                        <p>
                            I've been playing TRPGs since I'm a teenager. The game system is unimportant, whether it is
                            <a href="https://dnd.wizards.com/">Dungeons &amp; Dragons</a>
                            or <a href="https://hankerinferinale.wixsite.com/icrpg">ICRPG</a>, the essence of TRPGs
                            lies in sheer creativity and storytelling.
                            My friends and I have conjured up countless tales and universes over the years.
                            You'd think people can get tired of gathering around a table to make up stories with one another,
                            but apart from a few breaks, I've never become bored of being a dungeon master.
                        </p>
                    </div>
                    <div class="col-lg text-center">
                        <picture>
                            <% dice.forEach(die => { %>
                                <img src="images/hobbies/dice/<%= die %>"
                                     class="img-fluid m-3"
                                     style="width: 20%;">
                            <% }) %>
                        </picture>
                    </div>
                </section>
                <section class="row">
                    <h2 class="mt-5">Videos Games</h2>
                    <div class="col-lg text-center">
                        <picture>
                            <a href="https://www.pathofexile.com/" target="_blank" style="text-decoration: none;">
                                <img src="images/hobbies/poe.png" class="img-fluid" style="width:40%;max-width: 23vw;" alt="Path of Exile logo">
                            </a>
                            <a href="https://www.supergiantgames.com/games/hades/" target="_blank" style="text-decoration: none;">
                                <img src="images/hobbies/hades-small.png" class="img-fluid" style="width:70%;max-width: 30vw;" alt="Hades logo">
                            </a>
                            <a href="https://www.satisfactorygame.com/" target="_blank" style="text-decoration: none;">
                                <img src="images/hobbies/satisfactory.webp" class="img-fluid" style="width:80%;max-width: 35vw;" alt="Satisfactory logo">
                            </a>
                        </picture>
                    </div>
                    <div class="col-lg">
                        <p>
                            Sometimes, making up stories can be tiring. Video games are a great source of story-driven
                            entertainment that allow a lot of unwinding. Some would say it is therapeutic to kill monsters for the 
                            salvation of <a href="https://pathofexile.fandom.com/wiki/Wraeclast" target="_blank">Wraeclast</a>
                            or to free yourself from the shackles of
                            the <a href="https://hades.fandom.com/wiki/Hades_(game)" target="_blank">Underworld</a>.
                        </p>
                        <p>
                            To me, having room to be creative is very important, even in a video game. Fine-tuning a 
                            character's build to have it match my own tastes is an incredibly important aspect.
                            In a very different genre, I love sandbox games like 
                            <a href="https://www.satisfactorygame.com/" target="_blank">Satisfactory</a>
                            or 
                            <a href="https://www.minecraft.net/en-us" target="_blank">Minecraft</a>, 
                            because they don't confine you to a given set of objectives;
                            you make your own decisions and play the game the way you want.
                        </p>
                        <p>
                            I've played many other games in my life, but unfortunately, I find less and less time
                            to dedicate to gaming.
                        </p>
                    </div>
                </section>
                <section class="row">
                    <h2 class="mt-5">Movies and series</h2>
                    <div class="col-lg">
                        <p>
                            There is a reason why my first career was in subtitling: I love cinema.
                            When I was young, I was frustrated not to be able to see all the movies I wanted. VHS
                            were expensive and going to the theatre was impractical. I couldn't be happier
                            when the miracle of the internet happened and streaming services made movies and
                            series more and more accessible.
                        </p>
                        <p>
                            I can enjoy absolutely any genre as long as the movie has a good story and photography.
                            Among my favorite directors, in no particular order, I would name Christopher Nolan,
                            Quentin Tarantino, George Lucas, J.J. Abrams, Matt Groening, Robert Rodriguez, James Cameron
                            and the Wachowskis.
                        </p>
                    </div>
                    <div class="col-lg text-center">
                        <picture>
                            <img src="images/hobbies/cinema.svg" class="img-fluid" style="width:60%;max-width: 35vw;" alt="A camera">
                        </picture>
                    </div>
                </section>
                <section class="row">
                    <h2 class="mt-5">Cooking</h2>
                    <div class="col-lg text-center">
                        <picture>
                            <img src="images/hobbies/food/al-treno.jpg" class="img-fluid m-3" style="width: 40%; max-width:20vw">
                            <img src="images/hobbies/food/donburi.jpg" class="img-fluid m-3" style="width: 40%; max-width:20vw">
                            <img src="images/hobbies/food/sushi.jpg" class="img-fluid m-3" style="width: 40%; max-width:20vw">
                        </picture>
                    </div>
                    <div class="col-lg">
                        <p>
                            Ever since I've lived on my own, I started learning how to cook. I hate industrial 
                            preprocessed food, so I have an entire book of fine-tuned recipes to make sure I can 
                            eat home-cooked food every day. Blame my Italian origins, but I love cooking
                            pasta sauces (ragù forever), risotti and piadine. There is always passata,
                            parmigiano and olive oil at home. Among other things, I make great sushis,
                            <a href="https://en.wikipedia.org/wiki/Pho" target="_blank">phở</a> and donburi too.
                        </p>
                        <p>
                            When I was looking for a new career path, I actually considered taking cooking classes more
                            naturally than switching to IT. If it wasn't for the poor HoReCa working conditions,
                            maybe I'd be working as a chef in a restaurant right now :)
                        </p>                        
                    </div>
                </section>
                <section class="row">
                    <h2 class="mt-5">Pop science, Culture &amp; History</h2>
                    <div class="col-lg">
                        <p>
                            No matter the topic, I've always enjoyed learning. When I have a bit of time to spare,
                            I like watching good-quality videos on YouTube on various topics, such as world news,
                            history, culture, but for the most part the videos I watch are about pop science.
                        </p>
                        <p>
                            In our day and age, the collective amount of knowledge humans managed to gather is mind-blowing.
                            It's impossible to learn everything in a single life. I know very well that 
                            I'm never going to be an expert in astrophysics, chemistry, civil engineering or logistics,
                            but I find that even basic knowledge of a topic is tremendously interesting.
                        </p>
                        <p>
                            Here are links to some of my current favorite YouTube channels.
                        </p>
                    </div>
                    <div class="col-lg text-center">
                        <picture>
                            <% channels.forEach(channel => { %>
                                <a href="<%= channel.path %>" style="text-decoration: none;">
                                    <img src="images/hobbies/pop-science/<%= channel.image %>"
                                     class="img-fluid"
                                     title="<%= channel.name %>"
                                     style="width: 17%; margin: 0.5%;">
                                </a>
                            <% }) %>
                        </picture>
                    </div>
                </section>

        </article>
    </main>
</div>

<script>
    document.querySelector("#nav-hobbies").classList.add("active");
</script>