<div class="container">
    <main class="row">
        <article class="col-lg">
            <h1 class="text-center mt-5 mb-3">Hi, I'm Nicolas Toffolo</h1>
            <p>
                After working 7 years as a translator in the subtitling industry,
                I changed my career path to become a software and web developer.                
                I started studying Industrial IT at <strong class="text-success"><abbr>HELHa</abbr> Charleroi</strong>
                in September 2020 and I'm well on track to get my degree in June 2023.
            </p>
            <p>If you're an employer looking for a motivated intern, I might just be the person you need.</p>
        </article>
        <picture class="col-lg">
            <img src="images/portrait.jpg" class="img-fluid mx-auto d-block">
        </picture>
    </main>
</div>

<script defer>
    document.querySelector("#nav-home").classList.add("active");
</script>