<div class="container">
    <img src="images/man-at-work.svg" style="width:20rem" class="mt-5 mx-auto d-block" />
    <h1 class="text-center m-5">Work in progress</h1>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated"
             role="progressbar"
             style="width: <%= loading %>%;">
                Loading
        </div>
    </div>
    <p class="text-center m-5">Come back later ;)</p>
</div>