<div class="container">
    <main class="row">
        <article class="col-lg">
            <h1 class="text-center mt-5 mb-3">Hi, I'm Nicolas Toffolo</h1>
            <p>
                After working for 7 years as a translator in the subtitling industry,
                I changed my career path to head towards IT.                
                I started studying Industrial IT at <strong class="text-success"><abbr>HELHa</abbr> Charleroi</strong>
                in September 2020 and I'm well on track to get my degree in June 2023.
            </p>
            <p>
                What started as a curiosity about IT quickly became a passion. The three-year bachelor's degree I'm 
                undertaking is very comprehensive in introducing us to all the aspects of the IT world. For now, what I love most 
                is <strong class="text-danger">software</strong>, <strong class="text-danger">backend</strong> and
                <strong class="text-danger">web development</strong>.
            </p>
            <p>
                If you're an employer looking for a motivated intern, I might just be the person you need.
            </p>
        </article>
        <picture class="col-lg">
            <img src="images/portrait.jpg" class="img-fluid mx-auto d-block">
        </picture>
    </main>
</div>

<script defer>
    document.querySelector("#nav-home").classList.add("active");
</script>