<div class="container">
    <main class="row">
        <picture style="padding: 0;" class="col-lg">
            <% images.forEach(image => { %>
                <img class="img-fluid" style="width: 16%; max-height: 6em; margin: 1%; padding: 0%;"
                     src="images/skills/<%= image %>">
            <% }) %>
        </picture>
        <article class="col-lg">
            <h1 class="text-center mt-4 mb-3">A trove of knowledge</h1>
            <p>
                I think there's never been a better time to learn programming. The myriad of existing languages
                and frameworks allow for tailor-made problem-solving in all sectors.
            </p>
            <p>
                Among the hundreds of topics IT can offer, so far I've focused a big chunk of my efforts
                on trying to master web development. For backend, I've learned to use <strong class="text-success">Node.js</strong>
                with the <strong class="text-info">Express.js</strong> framework.
                I love <strong class="text-success">Node.js</strong>, because it can deliver out-of-the-box
                solutions for virtually anything: websites, IoT, industry 4.0, and so on. With the help of all 
                the open-source packages available through <strong class="text-danger">npm</strong>, the possibilities
                are endless.
            </p>
            <p>
                For the frontend, I've been using templating languages like Twig.js and EJS, but I'm transitionning
                to <strong class="text-info">React</strong>. The versality of the <strong class="text-info">React</strong>
                ecosystem makes it a solid choice, in my opinion &mdash; I plan to learn <strong class="text-info">React Native</strong>
                for mobile development.
            </p>
            <p>
                Overall, I've come to both love and hate <strong class="text-warning">JavaScript</strong> &#8212; <em>love</em> because of 
                everything that it helps me build, <em>hate</em> because of its many quirks and the fact that it throws errors
                only at runtime. While I learned how to avoid most JS traps, I'm currently digging deeper into
                <strong class="text-info">TypeScript</strong>. It is unbelievable how comfortable it is to have just have types in JS (damn 
                you string/number comparison!), but <strong class="text-info">TypeScript</strong> offers much more than that.
            </p>
            <p> 
                I am not a CSS expert and I don't intend to become one &mdash;
                so far, Bootstrap fullfils all my ignorant needs for small projects (like this very website).
            </p>
            <p>
                Even though I'm a public menace with a soldering iron, I find pleasure in tinkering with electronics and 
                microcontrollers(like the ESP32). I'm currently building
                <a href="/projects/alarm">a simple alarm system from scratch</a>.
                Programming embedded systems requires a moderate understanding of <strong class="text-secondary">C++</strong>,
                which isn't the easiest language, but it is well suited to MCUs thanks to its low-level capabilities.
            </p>

            <h2 class="text-center mt-4 mb-3">What to learn next?</h2>
            <p>
                I would love to checkout other frontend frameworks like <strong class="text-danger">Angular</strong> or 
                <strong class="text-success">Vue</strong> since they also look very robust. <strong class="text-warning">Svelte</strong>
                also caught my interest with its apparent simplicity, so I'll make sure to check it out someday.
            </p>
            <p>
                For backend, I'd like to check <strong class="text-secondary">Deno</strong> &#8212; knowing
                it's been created by the same man who created <strong class="text-success">Node.js</strong> is a 
                huge selling point for me. <strong>Bun</strong> also looks like an intriguing alternative to the V8-based runtimes.
            </p>
            <p>
                As for microcontrollers, I'd love to learn a bit about <strong class="text-secondary">Python</strong>
                to see if homemade projects can be built quickly and as efficiently as with <strong>C++</strong>.
            </p>            
        </article>
    </main>
</div>

<script>
    document.querySelector("#nav-skills").classList.add("active");
</script>