<div class="container">
    <main class="row">
        <picture style="padding: 0;" class="col-lg">
            <% images.forEach(image => { %>
                <img class="img-fluid" style="width: 16%; max-height: 6em; margin: 1%; padding: 0%;"
                     src="images/skills/<%= image %>">
            <% }) %>
        </picture>
        <article class="col-lg">
            <h1 class="text-center mt-4 mb-3">A trove of knowledge</h1>
            <p>
                I think there's never been a better time to learn programming. The myriad of existing languages
                and frameworks allow for tailor-made problem-solving in all sectors.
            </p>
            <p>
                Among the hundreds of topics IT can offer, so far I've focused a big chunk of my efforts
                on learning web development. For backend, I've learned to use <strong class="text-success">Node.js</strong>
                with the <strong class="text-info">Express.js</strong> framework.
                I love <strong class="text-success">Node.js</strong>, because out of the box, it can deliver
                solutions for virtually anything: websites, IoT, industry 4.0, and so on. With the help of all 
                the open-source packages available through <strong class="text-danger">npm</strong>, the possibilities
                are endless.
            </p>
            <p>
                For the frontend, I've been using templating languages like Twig.js and EJS, but I'm transitionning
                to <strong class="text-info">React</strong>. 
            </p>
            <p>
                Even though I'm a public menace with a soldering iron, I also like tinkering with electronics and 
                microcontrollers, like the ESP32 &#8212; I'm currently building
                <a href="/projects/alarm">a simple alarm system from scratch</a>.
                Programming embedded systems requires a moderate understanding of <strong class="text-secondary">C++</strong>,
                which isn't the easiest language, but it is well suited to MCUs thanks to its low-level capabilities.
            </p>

            <h2 class="text-center mt-4 mb-3">What to learn next?</h2>
            <p>
                I would love to learn a frontend framework like <strong class="text-info">React</strong>,
                <strong class="text-danger">Angular</strong> or <strong class="text-success">Vue</strong>.
                They look a bit intimidating, but infinitly more powerful than templating engines like Twig or EJS 
                that I've been using so I think I'll try <strong class="text-info">React</strong> first, because
                it also opens the door to <strong class="text-info">React Native</strong>, which looks like a great 
                cross-platform framework.
            </p>
            <p>
                Also, I've come to both love and hate <strong class="text-warning">JavaScript</strong> &#8212; <em>love</em> because of 
                everything that it helps me build, <em>hate</em> because of its many quirks and the fact that it throws errors
                only at runtime. While I learned how to avoid most JS traps, I would love to dig deeper into
                <strong class="text-info">TypeScript</strong>, as it looks like it would solve all the remaining
                grievances I have with this otherwise fantastic language.
            </p>
            <p>
                Later, for backend, I'd like to check <strong class="text-secondary">Deno</strong> &#8212; knowing
                it's been created by the same man who created <strong class="text-success">Node.js</strong> is a 
                huge selling point for me. <strong>Bun</strong> is also a very intriguing technology!
            </p>
            <p>
                As for microcontrollers, I'd love to learn a bit about <strong class="text-secondary">Python</strong>
                to see if homemade projects can be built quickly and as efficiently as with <strong>C++</strong>.
            </p>            
        </article>
    </main>
</div>

<script>
    document.querySelector("#nav-skills").classList.add("active");
</script>