<main class="container">
    <article class="row">
        <h1 class="text-center mt-4 mb-3">ESP32 homemade alarm system</h1>
        <div class="col-lg">
            <p>
                Alarm systems are very expensive and generally require a subscription to the alarm provider.
                However, with a bit of microcontroller, electronics, HTTP and C++ knowledge, it's not that 
                complicated to build one yourself.
            </p>
        </div>
        <picture class="col-lg text-center">
            <img src="images/projects/alarm/esp32.jpg" class="img-fluid" style="width:40%;" alt="ESP32 Board">
            <img src="images/projects/alarm/hcsr04.jpg" class="img-fluid" style="width:40%;" alt="Ultrasonic Sensor HCSR04">
        </picture>
    </article>
    <article class="row">
        <h2>The main code</h2>
        <p>This is still a beta code.</p>
        <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FNicoToff%2FESP32_Alarm%2Fblob%2Fmain%2Fsrc%2Fmain.cpp&style=atom-one-dark&showBorder=on&showLineNumbers=on&showFileMeta=on&showCopy=on"></script>
    </article>
</main>

<%- include ("../partials/under_construction") %>

<script>
    document.querySelector("#nav-projects").classList.add("active");
</script>