<div class="container">
    <main class="row">
        <article class="col-lg">
            <h1 class="text-center mt-4 mb-3">HELHa-Révision</h1>
            <p>
                My first pet project in IT was the development of 
                <a href="https://helharevision.000webhostapp.com/" target="_blank">a static website</a> 
                to share summaries with my fellow students.
                Despite its simplicity, it did the job! I learned a ton about HTML5 and CSS3
                over the months I was building this project. Today, I prefer using CSS libraries like
                <strong class="text-success">Bootstrap</strong>, because they allow for clean and efficient
                design without much effort.
            </p>
            <p>
                HELHa-Révision received updated until March 2021, at which point the amount of work
                for school made it impossible to continue this project. With my more recent knowledge,
                I realise I could have automated some of the uploads from <code>.docx</code> or <code>.pdf</code>
                files and save a ton of time!
            </p>
            <p> 
                I was proud of the result and I'm glad it is still used by new students every year.
            </p>
            <p class="mb-3">
                Link: <a href="https://helharevision.000webhostapp.com/" target="_blank">HELHa-Révision</a>
            </p>
        </article>
        <picture class="col-lg">            
            <a href="https://helharevision.000webhostapp.com/" target="_blank">
                <img src="/images/projects/helha-revision.png" class="img-fluid mt-5">
            </a>
        </picture>
    </main>
</div>

<script>
    document.querySelector("#nav-projects").classList.add("active");
</script>